[Desktop Entry]
Name=Geckopit
Comment=openSUSE Multi-Profile Workspace SCM Cockpit
Exec=geckopit
Icon=org.opensuse.geckopit
Terminal=false
Type=Application
Categories=Development;System;
StartupNotify=true
StartupWMClass=geckopit
